#LeftScore h1 {
	color: #fff;
	font-family: sans-serif;
	font-size: 4rem;
	position: absolute;
	top: 60px;
}

#RightScore h1 {
	color: #fff;
	font-family: sans-serif;
	font-size: 4rem;
	position: absolute;
	top: 60px;
}

#LeftScore {
	left: 35%;
}

#RightScore {
	right: 35%;
}
