.hp-container {
    position: relative; /* Make the container position relative for absolute positioning of children */
}

.score-container {
	margin-top: 50px;
    position: absolute; /* Position relative to the .hp-container */
    top: 20px; /* Adjust vertical positioning */
    left: 50%; /* Center the container */
    transform: translateX(-50%); /* Shift left by half its width for perfect centering */
    text-align: center; /* Center text inside the container */
}

#LeftScore {
	color: #fff;
	font-family: sans-serif;
	font-size: 4rem;
	position: absolute;
	top: 45px;
	left: 35%;
	padding-left: 15px;
}

#RightScore {
	color: #fff;
	font-family: sans-serif;
	font-size: 4rem;
	position: absolute;
	top: 45px;
	right: 35%;
	padding-right: 15px;
}
