.hp-container {
    position: relative; /* Make the container position relative for absolute positioning of children */
}

.score-container {
    display: flex; /* Flexbox kullan */
    justify-content: space-between; /* Aralardaki boşluğu eşit dağıt */
    position: absolute; /* Aynı */
    top: 20px; /* Aynı */
    left: 50%; /* Aynı */
    transform: translateX(-50%); /* Aynı */
    text-align: center; /* Aynı */
    z-index: 4001; /* Aynı */
}

#LeftScore, #RightScore {
    color: #fff;
    font-family: sans-serif;
    font-size: 4rem;
    padding: 0 15px; /* Yanlardan iç boşluk ekle */
}
