.pub-container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 4rem 1rem;
}

.pub-h1 {
	font-size: 2.5rem;
	text-align: center;
	margin-bottom: 2rem;
}

.pub-profile-header {
	display: flex;
	align-items: center;
	gap: 2rem;
	margin-bottom: 2rem;
}

.pub-avatar {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	object-fit: cover;
	border: 3px solid #ed8936;
}

.pub-profile-info {
	flex-grow: 1;
}

.pub-profile-name {
	font-size: 2rem;
	font-weight: bold;
	margin-bottom: 0.5rem;
}

.pub-profile-location {
	font-size: 1rem;
	color: #90cdf4;
	margin-bottom: 1rem;
}

.pub-profile-bio {
	font-size: 1rem;
	line-height: 1.5;
	margin-bottom: 1rem;
}

.pub-card {
	background-color: rgba(45, 55, 72, 0.5);
	border: 1px solid #3182ce;
	border-radius: 0.5rem;
	padding: 1.5rem;
	margin-bottom: 2rem;
}

.pub-card-title {
	font-size: 1.5rem;
	font-weight: bold;
	margin-bottom: 1rem;
}

.pub-stats-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
	gap: 1rem;
	text-align: center;
}

.pub-stat-value {
	font-size: 2rem;
	font-weight: bold;
	color: #ed8936;
}

.pub-stat-label {
	font-size: 0.875rem;
}



.pub-grid-cell {
	border: 1px solid #3182ce;
	opacity: 0.1;
}
@media (max-width: 768px) {
	.pub-navbar-links {
		display: none;
	}

	.pub-profile-header {
		flex-direction: column;
		text-align: center;
	}

	.pub-stats-grid {
		grid-template-columns: repeat(2, 1fr);
	}
}

.pub-settings-link {
    font-size: 1.5rem; /* İstediğin boyutta ayarlayabilirsin */
    color: #ed8936; /* Bağlantı rengi */
    text-decoration: none; /* Alt çizgiyi kaldır */
    transition: color 0.3s; /* Geçiş efekti */
}

.pub-settings-link:hover {
    color: #3182ce; /* Hover rengi */
}