<nav class="navbar navbar-dark bg-primary navbar-expand-lg">
	<div class="container">
		<a class="navbar-brand" href="{% url 'home page' %}">BlogApp</a>
		<ul class="navbar-nav me-auto">
			<li class="nav-item">
				<a class="nav-link" href="{% url 'home page' %}">Home</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'blog page' %}">Blog</a>
			</li>
		</ul>
	</div>
	<div class="container">
		<ul class="navbar-nav ms-auto"">
		{% if user.is_authenticated %}
			<li class="nav-item">
				<a class="nav-link" href="{% url 'blog page' %}">Welcome</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'logout' %}">Logout</a>
			</li>
		{% else %}
			<li class="nav-item">
				<a class="nav-link" href="{% url 'login' %}">Login</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'register' %}">Register</a>
			</li>
		{% endif %}
		</ul>
	</div>
</nav>